<div class="container" style="top: -300px; position: relative;">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    Tiempo de ANALIATION!!!!
                </div>
                <div class="card-body">
                    <div id="carouselExampleControls" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/analiation1.jpg" class="d-block w-100" alt="...">
                                <a>Preparate para destruir tu culito puta de mierda</a>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 1! Fingering</a>
                                <img src="/images/analiation2.png" class="d-block w-100" alt="...">
                                <a>Empieza escupiéndote en el dedo y frotándote el culo. Luego ROLL y dedeate a un ritmo
                                    más lento.</a>
                                <ul>
                                    <li>1- Un dedo por 3 minutos</li>
                                    <li>2- Un dedo por 5 minutos</li>
                                    <li>3- Un dedo por 8 minutos</li>
                                    <li>4- Dos dedos por 3 minutos</li>
                                    <li>5- Dos dedos por 5 minutos</li>
                                    <li>6- Dos dedos por 8 minutos</li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 2! Stretching</a>
                                <img src="/images/analiation3.png" class="d-block w-100" alt="...">
                                <a>En este nivel tienes que estirar tu ano con 2 dedos como en la imagen.</a>
                                <ul>
                                    <li>1- Estira por 1 minuto</li>
                                    <li>2- Estira por 1 minuto</li>
                                    <li>3- Estira por 3 minutos</li>
                                    <li>4- Estira por 3 minutos</li>
                                    <li>5- Estira por 5 minutos</li>
                                    <li>6- Estira por 5 minutos</li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 3! Fingering: Segundo Round!</a>
                                <img src="/images/analiation4.png" class="d-block w-100" alt="...">
                                <a>ROLL y dedeate por 4 minutos.</a>
                                <ul>
                                    <li>1- 2 dedos. Velocidad 80 BPM</li>
                                    <li>2- 3 dedos. Velocidad 60 BPM</li>
                                    <li>3- 3 dedos. Velocidad 80 BPM</li>
                                    <li>4- 3 dedos. Velocidad 120 BPM</li>
                                    <li>5- 4 dedos. Velocidad 60 BPM</li>
                                    <li>6- 4 dedos. Velocidad 80 BPM</li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 4! Hora de las pijas!</a>
                                <img src="/images/analiation5.png" class="d-block w-100" alt="...">
                                <a>Toma un consolador y posicionate como en la foto, ahora cojete por 8 minutos sin parar.</a>
                                <ul>
                                    <li>1- Velocidad de 30 BPM</li>
                                    <li>2- Velocidad de 30 BPM</li>
                                    <li>3- Velocidad de 60 BPM</li>
                                    <li>4- Velocidad de 60 BPM</li>
                                    <li>5- Velocidad de 90 BPM</li>
                                    <li>6- Velocidad de 90 BPM</li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 5! Fuck and Gape!</a>
                                <img src="/images/analiation6.png" class="d-block w-100" alt="...">
                                <a>Empuje el consolador hasta el fondo, abra el culo y luego vuelva a introducirlo hasta el fondo.</a>
                                <ul>
                                    <li>1- Tiempo: 1 minuto   Velocidad 15 BPM</li>
                                    <li>2- Tiempo: 2 minutos. Velocidad 15 BPM</li>
                                    <li>3- Tiempo: 3 minutos. Velocidad 15 BPM</li>
                                    <li>4- Tiempo: 1 minuto.  Velocidad 30 BPM</li>
                                    <li>5- Tiempo: 2 minutos. Velocidad 30 BPM</li>
                                    <li>6- Tiempo: 3 minutos. Velocidad 30 BPM</li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 6! Primera experiencia DP!</a>
                                <img src="/images/analiation7.png" class="d-block w-100" alt="...">
                                <a>Pon el dildo en tu culo hasta el fondo y luego ROLL para saber cuantos dedos tienes que agregar adentro y cojete despacio.</a>
                                <ul>
                                    <li>1- 1 Dedo por 3 Minutos</li>
                                    <li>2- 1 Dedo por 5 Minutos</li>
                                    <li>3- 2 Dedos por 3 Minutos</li>
                                    <li>4- 2 Dedos por 5 Minutos</li>
                                    <li>5- 3 Dedos por 3 Minutos</li>
                                    <li>6- 3 Dedos por 5 Minutos</li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 7! Descanso!</a>
                                <img src="/images/analiation8.png" class="d-block w-100" alt="...">
                                <a>Te mereces un descanso por ser un puta tan buena.</a>
                                <ul>
                                    <li>1- Descansa por 5 minutos</li>
                                    <li>2- Descansa por 3 minutos</li>
                                    <li>3- Descansa por 1 minuto</li>
                                    <li>4- Dejate metido el consolador en tu culito por 5 minutos</li>
                                    <li>5- Dejate metido el consolador en tu culito por 3 minutos</li>
                                    <li>6- Sin descanso! Sigue con tus tareas de puta</li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 8! Hora de ponerse seria!</a>
                                <img src="/images/analiation9.png" class="d-block w-100" alt="...">
                                <a>Toma tu dildo y cojete como en las cuatro imagenes durante 4 minutos cada una.</a>
                                <ul>
                                    <li>1- Velocidad 60 BPM</li>
                                    <li>2- Velocidad 80 BPM</li>
                                    <li>3- Velocidad 90 BPM</li>
                                    <li>4- Velocidad 100 BPM</li>
                                    <li>5- Velocidad 120 BPM</li>
                                    <li>6- Velocidad 180 BPM</li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 9! Gape!</a>
                                <img src="/images/analiation10.png" class="d-block w-100" alt="...">
                                <a>Usa dos dedos de cada mano y abre tu culo por 2 minutos como en la foto.</a>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 10! Hora de taladrar!</a>
                                <img src="/images/analiation11.png" class="d-block w-100" alt="...">
                                <a>Toma tu dildo y cojete como en las tres imagenes.</a>
                                <ul>
                                    <li>1- Velocidad: 180 BPM por 2 minutos cada imagen</li>
                                    <li>2- Velocidad: 180 BPM por 3 minutos cada imagen</li>
                                    <li>3- Velocidad: 200 BPM por 2 minutos cada imagen</li>
                                    <li>4- Velocidad: 200 BPM por 3 minutos cada imagen</li>
                                    <li>5- Velocidad: 220 BPM por 2 minutos cada imagen</li>
                                    <li>6- Velocidad: 220 BPM por 3 minutos cada imagen</li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 11! Momento del Puño!</a>
                                <img src="/images/analiation12.png" class="d-block w-100" alt="...">
                                <a>Primero metete 2 dedos, luego 4 y por ultimo el puño entero. Cojete suavemente.</a>
                                <ul>
                                    <li>1- Durante 1 minuto</li>
                                    <li>2- Durante 2 minutos</li>
                                    <li>3- Durante 3 minutos</li>
                                    <li>4- Durante 4 minutos</li>
                                    <li>5- Durante 5 minutos</li>
                                    <li>6- Durante 6 minutos</li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 12! Calma antes de la destruccion anal!</a>
                                <img src="/images/analiation13.png" class="d-block w-100" alt="...">
                                <a>Toma un descanso de 3 minutos. Lo vas a necesitar.</a>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 13! Final Anal!</a>
                                <img src="/images/analiation14.png" class="d-block w-100" alt="...">
                                <a>Sientate sobre tu dildo y coteje a 220 BPM. Metete los dedos que puedas.</a>
                                <ul>
                                    <li>1- Durante 1 minutos</li>
                                    <li>2- Durante 2 minutos</li>
                                    <li>3- Durante 3 minutos</li>
                                    <li>4- Durante 4 minutos</li>
                                    <li>5- Durante 5 minutos</li>
                                    <li>6- Durante 6 minutos</li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 14! Destruccion Anal Completada: Felicitaciones PUTITA!</a>
                                <img src="/images/analiation15.png" class="d-block w-100" alt="...">
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <a routerLink="/inicio" routerLinkActive="active" ariaCurrentWhenActive="page"><button>Elegir nuevo Destino</button></a>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </div>
    </div>
</div>