<div class="container" style="position: relative;">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    Tiempo de THROAT ANNIHILATION!!!!
                </div>
                <div class="card-body">
                    <div id="carouselExampleControls" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img style="width: 180%;" src="/images/oral.png" class="d-block" alt="...">
                                <a>Preparate para convertirte en una puta sin dignidad!</a>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 1! Lollipop</a>
                                <img src="/images/oral1.png" class="d-block w-100" alt="...">
                                <a>Ponte en modo putita y trata de imitar la imagen.</a>
                                <ul>
                                    <li>1- Chupa 1 dedo por 2 minutos</li>
                                    <li>2- Chupa 2 dedos por 2 minutos</li>
                                    <li>3- Chupa 3 dedos por 2 minutos</li>
                                    <li>4- Chupa la puntita de un dildo como un chupete 15 veces</li>
                                    <li>5- Chupa la puntita de un dildo como un chupete 30 veces</li>
                                    <li>6- Chupa la puntita de un dildo como un chupete 45 veces</li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 2! Blowing</a>
                                <img src="/images/oral2.png" class="d-block w-100" alt="...">
                                <a>En este nivel tienes que petear sin hacer garganta profunda. Disfruta mientras puedas
                                    (Si produces saliva escupela en un contenedor).
                                </a>
                                <ul>
                                    <li>1- Petea tu dildo lento y suave por 3 minutos</li>
                                    <li>2- Petea tu dildo por 3 minutos con juego de lengua</li>
                                    <li>3- Petea tu dildo lento y suave por 3 minutos y masajea el tronco con una mano
                                    </li>
                                    <li>4- Petea tu dildo lento y suave por 5 minutos y masajea el tronco con una mano
                                    </li>
                                    <li>5- Petea tu dildo por 3 minutos a 80 BPM y masajea el tronco con una mano</li>
                                    <li>6- Petea tu dildo por 5 minutos a 80 BPM y masajea el tronco con una mano</li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 3! Fingering</a>
                                <img src="/images/oral3.png" class="d-block w-100" alt="...">
                                <a>Tu primer probada de degeneracion.</a>
                                <ul>
                                    <li>1- Fuerza 1 dedo profundo en tu garganta hasta generar una arcada 2 veces</li>
                                    <li>2- Fuerza 1 dedo profundo en tu garganta hasta generar una arcada 4 veces</li>
                                    <li>3- Fuerza 2 dedos profundos en tu garganta hasta generar una arcada 3 veces</li>
                                    <li>4- Fuerza 2 dedos profundos en tu garganta hasta generar una arcada 5 veces</li>
                                    <li>5- Fuerza 3 dedos profundos en tu garganta hasta generar una arcada 8 veces</li>
                                    <li>6- Roll 3 veces y cumple la tarea, puta afortunada.</li>
                                </ul>
                                <a>Cuando termines frota tus dedos sobre tu cara.</a>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 4! Sigue peteando!</a>
                                <img src="/images/oral4.png" class="d-block w-100" alt="...">
                                <a>Este es el ultimo round suave. Luego de esto te convertiras en la sucia putita que
                                    eres.</a>
                                <ul>
                                    <li>1- Petea un dildo mientras dices "Me encanta la pija en mi boca" con el dildo en
                                        tu boca por 2 minutos</li>
                                    <li>2- Petea un dildo mientras dices "Soy una chupaverga puta y estupida " con el
                                        dildo en tu boca por 3 minutos</li>
                                    <li>3- Petea un dildo mientras gimes constantemente por 2 minutos</li>
                                    <li>4- Petea un dildo por 3 minutos a 120 BPM mientras masajeas el tronco con una
                                        mano</li>
                                    <li>5- Petea un dildo por 5 minutos a 120 BPM mientras masajeas el tronco con una
                                        mano</li>
                                    <li>6- Tiene que hacer todas en orden. Tienes suerte putita</li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 5! Garganta Profunda!</a>
                                <img src="/images/oral5.png" class="d-block w-100" alt="...">
                                <a>Yo no harás mas petes, a partir de ahora solo seras una puta de gargantas
                                    profundas.</a>
                                <ul>
                                    <li>1- Garganta profunda como en la imagen 1 por 4 minutos a 120 BPM</li>
                                    <li>2- Garganta profunda como en la imagen 2 por 4 minutos a 120 BPM</li>
                                    <li>3- Garganta profunda acostada boca arriba por 4 minutos a 120 BPM</li>
                                    <li>4- Garganta profunda acostada boca arriba por 4 minutos a 180 BPM</li>
                                    <li>5- Garganta profunda como en la imagen 1 y 2 por 4 minutos cada una a 180 BPM
                                    </li>
                                    <li>6- Garganta profunda como en la imagen 1 y 2 por 4 minutos cada una a 120 BPM y
                                        despues vuelve a hacer la tarea 3 pero a 200 BPM</li>
                                </ul>
                                <a>Luego de que termines tienes que hacerle una paja bien babosa al dildo por 1
                                    minuto</a>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 6! Impalar!</a>
                                <img src="/images/oral6.png" class="d-block w-100" alt="...">
                                <a>Si te toca el numero incorrecto sabrás lo que significa atragantarse con una verga.
                                    No se permite frenar. Debes copiar la posicion de la imagen.</a>
                                <ul>
                                    <li>1- Garganta profunda 20 veces. Levanta la cabeza y respira (continua en posicion
                                        con la verga en la boca) por 3 segundos. Luego 2 veces más (60 en total)</li>
                                    <li>2- Garganta profunda 30 veces. Levanta la cabeza y respira (continua en posicion
                                        con la verga en la boca) por 2 segundos. Luego 2 veces más (90 en total)</li>
                                    <li>3- Garganta profunda 40 veces. Levanta la cabeza y respira (continua en posicion
                                        con la verga en la boca) por 1 segundo. Luego 2 veces más (120 en total)</li>
                                    <li>4- Garganta profunda 20 veces. comete la verga hasta el fondo y agunata 5
                                        segundos continua 2 veces más (total of 60)</li>
                                    <li>5- Garganta profunda 30 veces. comete la verga hasta el fondo y agunata 10
                                        segundos continua 2 veces más (total of 90)</li>
                                    <li>6- Garganta profunda 40 veces. comete la verga hasta el fondo y agunata 15
                                        segundos continua 2 veces más (total of 120)</li>
                                </ul>
                                <a>Si en algúm momento rompes tu posicion tienes que empezar de nuevo el nivel. Si
                                    fallas de nuevo tienes que darte una cachetada fuerte en la cara y continuar con el
                                    nivel</a>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 7! Descanso viscoso!</a>
                                <img src="/images/oral7.png" class="d-block w-100" alt="...">
                                <a>Esto parece un descanso pero puede ser peor!!.</a>
                                <ul>
                                    <li>1- Sorbe la saliva del recipiente y babea por tu cuerpo, y juega durante 5
                                        minutos</li>
                                    <li>2- Sumerge ese consolador en el recipiente, hazlo agradable y baboso, luego
                                        golpeate con el durante 5 minutos.</li>
                                    <li>3- Sumerge tu mano en el recipiente y luego golpeate fuerte cada 30 segundos
                                        durante 5 minutos</li>
                                    <li>4- Vierte el recipiente en su cara, luego acuestate y descansa durante 5 minutos
                                    </li>
                                    <li>5- Vierte la saliva en un plato, lame y tragua como un gatito hasta que esté
                                        limpio</li>
                                    <li>6- SIN DESCANSO PUTA. TOMATE TODO EL RECIPIENTE Y CONTINUA</li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 8! Hora de Rellenar!</a>
                                <img src="/images/oral8.png" class="d-block w-100" alt="...">
                                <a>Veamos que tan rapido puedes rellenar el contenedor. Toma 1 litro de agua. Te vas a
                                    convertir en una maquina de saliva.</a>
                                <ul>
                                    <li>1- Garganta profunda 20 veces rapido luego aguanta por 10 segundos, escupe en el
                                        contenedor, repite 4 veces más (un total de 100)</li>
                                    <li>2- Garganta profunda 20 veces rapido luego aguanta por 15 segundos, escupe en el
                                        contenedor, repite 9 veces más (un total de 200)</li>
                                    <li>3- Garganta profunda 30 veces rapido luego aguanta por 15 segundos, escupe en el
                                        contenedor, repite 9 veces más (un total de 300)</li>
                                    <li>4- Garganta profunda 60 veces rapido luego aguanta por 20 segundos, escupe en el
                                        contenedor, repite 4 veces más (un total de 300)</li>
                                    <li>5- Garganta profunda 40 veces rapido luego aguanta por 20 segundos, escupe en el
                                        contenedor, repite 9 veces más (un total de 400)</li>
                                    <li>6- Garganta profunda 50 veces rapido luego aguanta por 25 segundos, escupe en el
                                        contenedor, repite 9 veces más (un total de 500)</li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 9! Messy Fingering!</a>
                                <img src="/images/oral9.png" class="d-block w-100" alt="...">
                                <a>A partir de ahora, comenzarás cada nivel sumergiendo tu mano en el recipiente y luego
                                    golpeándote la cara con fuerza. No te preocupes, perra tonta, te lo recordaré en
                                    caso de que se te olvide..</a>
                                <a>El verdadero desorden ni siquiera ha empezado, perra puta. Bebe 500 ml de agua. No te
                                    preocupes, no vomitarás en tu cara... todavía. Hazlo como en la foto</a>
                                <ul>
                                    <li>1- Fuerza 2 dedos bien profundos en tu garganta a 120 BPM por 3 minutos, aguanta
                                        5 segundos con los desdos adentro cada minuto</li>
                                    <li>2- Fuerza 2 dedos bien profundos en tu garganta a 180 BPM por 3 minutos, aguanta
                                        5 segundos con los desdos adentro cada minuto</li>
                                    <li>3- Fuerza 3 dedos bien profundos en tu garganta a 180 BPM por 3 minutos, aguanta
                                        10 segundos con los desdos adentro cada minuto</li>
                                    <li>4- Fuerza 3 dedos bien profundos en tu garganta a 200 BPM por 3 minutos, aguanta
                                        10 segundos con los desdos adentro cada minuto</li>
                                    <li>5- Fuerza 4 dedos bien profundos en tu garganta a 200 BPM por 3 minutos, aguanta
                                        15 segundos con los desdos adentro cada minuto</li>
                                    <li>6- Fuerza 4 dedos bien profundos en tu garganta a 220 BPM por 3 minutos, aguanta
                                        20 segundos con los desdos adentro cada minuto</li>
                                </ul>
                                <a>Luego de que termines frota tu mano por tu cara</a>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 10! Sin oxigeno!</a>
                                <img src="/images/oral10.png" class="d-block w-100" alt="...">
                                <a>Voy a joderte el aire puta desagradable. No puedes tomar pequeños descansos para
                                    recuperar el aliento. </a>
                                <a>Si te queda algo de agua del último nivel, esto seguramente te
                                    la sacará. Además, no te olvides de las bofetadas de las que hablamos.</a>
                                <ul>
                                    <li>1- Tapa tu nariz y realiza garganta profunda por 3 minutos a 120 BPM como en la
                                        imagen 1</li>
                                    <li>2- Tapa tu nariz y realiza garganta profunda por 3 minutos a 120 BPM como en la
                                        imagen 2</li>
                                    <li>3- Empuja el dildo lo más que puedas y aguantalo durante 40 segundos como en la
                                        imagen 1</li>
                                    <li>4- Empuja el dildo lo más que puedas y aguantalo durante 50 segundos como en la
                                        imagen 2</li>
                                    <li>5- Tienes que hacer la tarea 1 y 3 (tapate la nariz en el 3)</li>
                                    <li>6- Tienes que hacer la tarea 2 y 4 (tapate la nariz en el 4)</li>
                                </ul>
                                <a>Si fllas tienes que volver al nivel 10. Si fallas golpeate en la cara y continua.</a>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 11! Ráfaga profunda!</a>
                                <img src="/images/oral11.png" class="d-block w-100" alt="...">
                                <a>4 minutos o más de pura follada de garganta. Posicionate como en la imagen. Tienes 1
                                    segundo de descanso después de cada minuto para escupir en tu cara lo que hayas
                                    producido..</a>
                                <ul> Cuantas veces tienes que tirar el dado?
                                    <li>1/2 = 1 sola vez</li>
                                    <li>3/4 = 2 veces</li>
                                    <li>5/6 = 3 veces</li>
                                </ul>
                                <ul>
                                    <li>1- Garganta profunda a 200 BPM con ojos abiertos</li>
                                    <li>2- Garganta profunda a 220 BPM con ojos abiertos</li>
                                    <li>3- Garganta profunda a 200 BPM con ojos cerrados, manten el dildo profundo por
                                        15 segundos antes de explotar de saliva</li>
                                    <li>4- Garganta profunda a 220 BPM con ojos cerrados, manten el dildo profundo por
                                        20 segundos antes de explotar de saliva</li>
                                    <li>5- Garganta profunda a 200 BPM con ojos abiertos, manten el dildo profundo por
                                        15 segundos antes de explotar de saliva</li>
                                    <li>6- Garganta profunda a 220 BPM con ojos abiertos, manten el dildo profundo por
                                        20 segundos antes de explotar de saliva</li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 12! Smacking!</a>
                                <img src="/images/oral12.png" class="d-block w-100" alt="...">
                                <a>Garganta profunda como en la imagen por 2 minutos.</a>
                                <ul>
                                    <li>1- Golpea tu cara muy fuerte cada 12 segundos</li>
                                    <li>2- Golpea tu cara muy fuerte cada 10 segundos</li>
                                    <li>3- Golpea tu cara muy fuerte cada 8 segundos</li>
                                    <li>4- Golpea tu cara muy fuerte cada 6 segundos</li>
                                    <li>5- Golpea tu cara muy fuerte cada 4 segundos</li>
                                    <li>6- Golpea tu cara muy fuerte cada 2 segundos</li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 13! PukeFest!</a>
                                <img src="/images/oral13.png" class="d-block w-100" alt="...">
                                <a>A ver si eres la puta desagradable que creo que eres. Prepara 1 litro de leche.</a>
                                <ul>
                                    <li>1/2/3 = Como en la primer imagen</li>
                                    <li>4/5/6 = Como en la segunda imagen</li>
                                </ul>
                                <ul>
                                    <li>1- Garganta profunda 180 BPM 30 segundos luego mantenga 5 segundos, repite
                                        agregando +5 segundos tanto a la garganta profunda como a la retención, hasta
                                        que te saque la leche 4 veces, golpeate en el medio de la cara como en la foto
                                        3.</li>
                                    <li>2- Garganta profunda 180 BPM 30 segundos luego mantenga 5 segundos, repite
                                        agregando +5 segundos tanto a la garganta profunda como a la retención, hasta
                                        que te saque la leche 8 veces, golpeate en el medio de la cara como en la foto
                                        3.</li>
                                    <li>3- Empuja el dildo rápidamente en tu garganta lo más que puedas, luego mantenlo
                                        durante
                                        20 segundos, garganta profunda a 200 BPM hasta que revientes esa leche, luego
                                        fuerza 4 dedos hasta que vomites 5 veces, desparrmate lo que saques con la mano
                                        en la cara</li>
                                    <li>4- Empuja el dildo rápidamente en tu garganta lo más que puedas, luego mantenlo
                                        durante
                                        30 segundos, garganta profunda a 220 BPM por 3 minutos, luego aguanta el dildo
                                        hasta que vomites 10 veces, desparrama lo que saques con el dildo en la cara
                                    </li>
                                    <li>5- Garganta profunda 220 BPM por 15 segundos, luego aguanta 10 segundos, repie
                                        hasta que vomites 15 veces</li>
                                    <li>6- Tines que hacer la tarea 5 pero con la posicion del nivel 11</li>
                                </ul>
                                <a>Cuando termines con el nivel toma algo del desastre que hiciste y tiralo en tu cabeza
                                    como en la imagen 6</a>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 14! Pico de lo desagradable! Felicitaciones putita</a>
                                <img src="/images/oral14.png" class="d-block w-100" alt="...">
                                <a>Es hora de arrepentirse de haber comenzado esto. En este punto es probable que haya
                                    algo más que escupir en el recipiente, y eso es lamentable.... Para tí</a>
                                <ul>
                                    <li>1- Por suerte, tómate un descanso por un minuto, guarda el recipiente durante
                                        unas horas después de que hayas terminado, para que puedas mirarlo y recordarte
                                        a ti mismo lo desagradable que eres.</li>
                                    <li>2- Revuelve la saliva del recipiente 10 veces, traga la mitad, el resto derramal
                                        en tu cuerpo</li>
                                    <li>3- Vierte el tazón de saliva lentamente en tu cara con los ojos cerrados</li>
                                    <li>4- Vierte el tazón de saliva lentamente en tu cara con los ojos abiertos</li>
                                    <li>5- Acuestate y vierte el tazón de saliva lentamente en tu boca y intenta sacarlo por tu nariz</li>
                                    <li>6- Aspira un poco de todo ese desatre</li>
                                </ul>
                                <a>Si te toca 5 o 6 intenta hacerlo, si no puedes vuelve al nivel 11 si te toca 5 o 6 solo sigue.</a>
                            </div>
                            <div class="carousel-item">
                                <a>Nivel 15! El final!</a>
                                <img src="/images/oral15.png" class="d-block w-100" alt="...">
                                <a>Si has llegado hasta aquí, felicidades, eres una PUTA DESAGRADABLE.
                                    Puedes iniciar otro camino trola trastornada.
                                </a>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>