<div class="container" style="position: relative;">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    Tiempo de ESCRIBIR TU CUERPITO!!!!
                </div>
                <div class="card-body">
                    <div id="carouselExampleControls" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/write.jpg" class="d-block w-100" alt="...">
                                <a>Escribete cositas sucias en tu cuerpo</a>
                            </div>
                            <div class="carousel-item">
                                <a>Que tienes que escribirte?</a>
                                <img src="/images/write.png" class="d-block w-100" alt="...">
                                <ul>Dado = 1/2/3
                                    <li>1- Use me</li>
                                    <li>2- Rape me</li>
                                    <li>3- Sissy</li>
                                    <li>4- Whore</li>
                                    <li>5- Bitch</li>
                                    <li>6- Slut</li>
                                </ul>
                                <ul>Dado = 4/5/6
                                    <li>1- Fucktoy</li>
                                    <li>2- Sex Slave</li>
                                    <li>3- BBC ❤</li>
                                    <li>4- Bimbo</li>
                                    <li>5- Cum Lover</li>
                                    <li>6- Silly bitch</li>
                                </ul>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>