<div class="cletter">
    <h1 class="main-title">
        <a style="text-decoration: none; padding-left: 10px; padding-right: 15px;" class="boxes">
            🍆 El Destino de Luli 🍆
        </a>
    </h1>
    <div style="padding: 25px;"></div>
    <h2 class="sub-title">
        <a style="text-decoration: none; padding-right: 15px; padding-left: 15px;" class="boxes">
            🥛 A que jugarás hoy putita? 🥛
        </a>
    </h2>
    <div style="padding: 30px;"></div>
    <nav class="menu-container">
        <div class="timer">
            <span id="minutes">00</span>:<span id="seconds">00</span>
            <div class="timer-controls">
                <button (click)="startTimer()">Start</button>
                <button (click)="stopTimer()">Stop</button>
                <button (click)="resetTimer()">Reset</button>
            </div>
        </div>
        <ul style="list-style-type: none; font-size: 40px;">
            <li><a routerLink="/anal" routerLinkActive="active" ariaCurrentWhenActive="page"><img class="circle"
                        src="/images/anal.jpg"></a>
                <p>Anal!</p>
            </li>
            <li><a routerLink="/gape" routerLinkActive="active" ariaCurrentWhenActive="page"><img class="circle"
                        src="/images/gape.jpg"></a>
                <p>Gape!</p>
            </li>
            <li><a routerLink="/oral" routerLinkActive="active" ariaCurrentWhenActive="page"><img class="circle"
                        src="/images/oral.jpg"></a>
                <p>Oral!</p>
            </li>
            <li><a routerLink="/write" routerLinkActive="active" ariaCurrentWhenActive="page"><img class="circle"
                        src="/images/write.jpg"></a>
                <p>Write!</p>
            </li>
        </ul>
    </nav>
    <div class="bpm-meter">
        <div class="bpm-display" id="bpmDisplay"></div>
        <div class="bpm-value" id="bpmValue">{{ bpm }} BPM</div>
        <div class="bpm-controls">
            <button (click)="increaseBPM()">+</button>
            <button (click)="decreaseBPM()">-</button>
            <button (click)="toggleMute()">{{ isMuted ? 'Unmute' : 'Mute' }}</button>
        </div>
    </div>
    <div class="floating-dice">
        <button (click)="rollDice()">🎲</button>
    </div>
</div>

