<div class="cletter">
<h1 style="font-size: 90px;" ><a style="text-decoration: none;">Texto de prueba</a></h1>
<div style="padding: 20px;"></div>
<h2 style="font-size: 50px;"><a style="text-decoration: none;">Elija una opción</a></h2>
<div style="padding: 30px;"></div>
<nav>
  <ul style="list-style-type: none; font-size: 40px;">
    <li><a routerLink="/anal" routerLinkActive="active" ariaCurrentWhenActive="page"><img class="circle" src="/images/anal.jpg"></a></li>
    <li><a routerLink="/gape" routerLinkActive="active" ariaCurrentWhenActive="page"><img class="circle" src="/images/gape.jpg"></a></li>
    <li><a routerLink="/oral" routerLinkActive="active" ariaCurrentWhenActive="page"><img class="circle" src="/images/oral.jpg"></a></li>
    <li><a routerLink="/write" routerLinkActive="active" ariaCurrentWhenActive="page"><img class="circle" src="/images/write.jpg"></a></li>
  </ul>
</nav>

<router-outlet />
</div>