@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');

body {
    background: #6868AC;
}

.cletter {
    width: 100%;
    height: 100vh;
    font-family: 'Calligraffitti', cursive;
    font-weight: 700;
    font-size: 13rem;
    position: relative;
    text-shadow: -10px 5px 10px #ced0d3;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.02em;
    text-align: center;
    color: #F9f1cc;
    text-shadow: 2px 2px 0px #FFB650,
        3px 3px 0px #FFD662,
        5px 5px 0px #FF80BF,
        7px 7px 0px #EF5097,
        9px 9px 0px #6868AC,
        11px 11px 0px #90B1E0;
}

.boxes {
    background: #e77fa1;
    padding: 18px;
    border: 10px solid #fac9d9;
    border-radius: 25px;
    top: 50px;
    position: relative;

}

ul>li {
    display: inline-block;
    padding: 20px;
}

.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

img {
    --s: 25px;
    /* the size of the image */
    --b: 8px;
    /* the border thickness*/
    --g: 14px;
    /* the gap */
    --c: #ff8aef;
    /* the color */

    width: var(--s);
    aspect-ratio: 1;
    outline: calc(var(--s)/2) solid #0009;
    outline-offset: calc(var(--s)/-2);
    cursor: pointer;
    transition: .3s;
}

img:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
}

img+img {
    border-radius: 10%;
}
body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-auto-flow: column;
    gap: 50px;
    place-content: center;
    place-items: center;
    background: #C8C8A9;
}