<div class="cletter">
<h1 style="font-size: 90px;"><a style="text-decoration: none; padding-left: 10px; padding-right: 15px;" class="boxes">El Destino de Luli</a></h1>
<div style="padding: 25px;"></div>
<h2 style="font-size: 50px;"><a style="text-decoration: none; padding-right: 15px; padding-left: 15px;" class="boxes">A que jugarás hoy putita?</a></h2>
<div style="padding: 30px;"></div>
<nav>
  <ul style="list-style-type: none; font-size: 40px;">
    <li><a routerLink="/anal" routerLinkActive="active" ariaCurrentWhenActive="page"><img class="circle" src="/images/anal.jpg"></a><p>Anal!</p></li>
    <li><a routerLink="/gape" routerLinkActive="active" ariaCurrentWhenActive="page"><img class="circle" src="/images/gape.jpg"></a><p>Gape!</p></li>
    <li><a routerLink="/oral" routerLinkActive="active" ariaCurrentWhenActive="page"><img class="circle" src="/images/oral.jpg"></a><p>Oral!</p></li>
    <li><a routerLink="/write" routerLinkActive="active" ariaCurrentWhenActive="page"><img class="circle" src="/images/write.jpg"></a><p>Write!</p></li>
  </ul>
</nav>
</div>
<router-outlet />
