<div class="container" style="position: relative;">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    Tiempo de GAPEEE!!!
                </div>
                <div class="card-body">
                    <div id="carouselExampleControls" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/analgape.png" class="d-block w-100" alt="...">
                                <a>Preparate para convertir tu culito en una vagina para recibir vergas negras!</a>
                            </div>
                            <div class="carousel-item">
                                <a>Ejercicio para estirar. Debes hacerlo por 4 veces</a>
                                <a>Tira el dado y cumple la tarea puta de mierda.</a>
                                <ul>
                                    <li>1- Squatting! dildo en el suelo y cojetelo por 10 minutos a una velocidad media,
                                        en el ultimo minuto tiene que ser rapido! <img src="/images/analgape1.png"
                                            class="d-block " alt="..."></li>
                                    <li>2- Asegura un dildo en la silla o en la pared y cojelo por 10 minutos, en cada
                                        minuto abre tus nalgas sacalo por completo y vuelvelo a meter hasta el fondo<img
                                            src="/images/analgape2.png" class="d-block" alt="..."></li>
                                    <li>3- Asegura un dildo a una silla o una mesa, metetelo hasta el fondo, sientate y
                                        espera 10 segundos. Sacalo. Repite 40 veces. <img src="/images/analgape3.png"
                                            class="d-block" alt="..."> </li>
                                    <li>4- Plug in, plug out. Inserta un plug respira tres veces profundas y quitalo.
                                        Repite 30 veces. Las ultimas 10 deben ser rapidas <img
                                            src="/images/analgape4.png" class="d-block" alt="..."> </li>
                                    <li>5- Big ride. Asegura un dildo largo en el suelo. Cojetelo por 5 minutos. Al
                                        final tiene que ser hasta el fondo lento tomas 5 respiraciones profundas y
                                        repite 4 veces. <img src="/images/analgape5.png" class="d-block" alt="...">
                                    </li>
                                    <li>6- Squatting fuck. En sentadilla toma un dildo y cojete lo mas rapido posible
                                        por 5 minutos. Apreta fuerte 5 veces y repite 2 veces. <img
                                            src="/images/analgape6.png" class="d-block" alt="..."> </li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <a>Bien hecho puta!Si ya cumpliste con lo anterior puedes hacer el final!</a>
                                <ul>
                                    <li>No podrás esconder tu agujero!</li>
                                    <li>Cojete con lo mas grueso que tengas por 10 minutos.</li>
                                    <li>Ahora hasta el fondo por 10 minutos más.</li>
                                    <li>Cojete por 5 minutos y en cada minuto sacalo completo y ve como esta tu culito
                                        tratando de abrirlo</li>
                                    <li>Inserta el dildo de nuevo, usando una bikini, abre tus nalgas y metete el dilo
                                        hasta el fondo. Sacate el dildo e imita la imagen. <img src="/images/analgape7.png" class="d-block" alt="..."> </li>
                                </ul>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>